
.cursor {
  
  &.default {
    &.black { cursor: url(../cursors/default-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/default-white.svg) 0 0, auto; }
  }

  &.design {
    &.black { cursor: url(../cursors/design-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/design-white.svg) 0 0, auto; }
  }
  
  &.designer {
    &.blue { cursor: url(../cursors/designer-blue.svg) 0 0, auto; }
    &.magenta { cursor: url(../cursors/designer-magenta.svg) 0 0, auto; }
    &.purple { cursor: url(../cursors/designer-purple.svg) 0 0, auto; }
  }
  
  &.grab {
    &.black { cursor: url(../cursors/grab-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/grab-white.svg) 0 0, auto; }
  }
  
  &.grabbing {
    &.black { cursor: url(../cursors/grabbing-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/grabbing-white.svg) 0 0, auto; }
  }
  
  &.move {
    &.black { cursor: url(../cursors/move-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/move-white.svg) 0 0, auto; }
  }
  
  &.not-allowed {
    &.black { cursor: url(../cursors/not-allowed-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/not-allowed-white.svg) 0 0, auto; }
  }
  
  &.pointer {
    &.black { cursor: url(../cursors/pointer-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/pointer-white.svg) 0 0, auto; }
  }
  
  &.progress {
    &.black { cursor: url(../cursors/progress-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/progress-white.svg) 0 0, auto; }
  }
  
  &.resize-tl-br {
    &.black { cursor: url(../cursors/resize-tl-br-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/resize-tl-br-white.svg) 0 0, auto; }
  }
  
  &.resize-tr-bl {
    &.black { cursor: url(../cursors/resize-tr-bl-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/resize-tr-bl-white.svg) 0 0, auto; }
  }
  
  &.resize-x {
    &.black { cursor: url(../cursors/resize-x-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/resize-x-white.svg) 0 0, auto; }
  }
  
  &.resize-y {
    &.black { cursor: url(../cursors/resize-y-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/resize-y-white.svg) 0 0, auto; }
  }
  
  &.rotate-bl {
    &.black { cursor: url(../cursors/rotate-bl-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/rotate-bl-white.svg) 0 0, auto; }
  }
  
  &.rotate-br {
    &.black { cursor: url(../cursors/rotate-br-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/rotate-br-white.svg) 0 0, auto; }
  }
  
  &.rotate-tl {
    &.black { cursor: url(../cursors/rotate-tl-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/rotate-tl-white.svg) 0 0, auto; }
  }
  
  &.rotate-tr {
    &.black { cursor: url(../cursors/rotate-tr-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/rotate-tr-white.svg) 0 0, auto; }
  }
  
  &.text {
    &.black { cursor: url(../cursors/text-black.svg) 12 12, auto; }
    &.white { cursor: url(../cursors/text-white.svg) 12 12, auto; }
  }
  
  &.zoom-in {
    &.black { cursor: url(../cursors/zoom-in-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/zoom-in-white.svg) 0 0, auto; }
  }
  
  &.zoom-out {
    &.black { cursor: url(../cursors/zoom-out-black.svg) 0 0, auto; }
    &.white { cursor: url(../cursors/zoom-out-white.svg) 0 0, auto; }
  }

}